* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family:'Times New Roman', Times, serif;
  padding: 10px;
  background: black;
}

/* Header/Blog Title */
.header {
  padding: 20px;
  text-align: center;
  background-image: url(bgg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header h1 {
  font-size: 50px;
  color: white;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #181515;
}

/* Style the topnav links */
.topnav a {
  float: right;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {   
  float: left;
  width: 75%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  background-color: blanchedalmond;
  padding-left: 20px;
}

/*bacground-image */
.background-image {
  background-image: url(img1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  padding: 20px;
}
.background-image1 {
  background-image: url(img2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  padding: 20px;
}
.background-image2 {
  background-image: url(img3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  padding: 20px;
}

/*logo*/
.logo {
  background-image: url(logo.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  padding: 20px;
  height: 200%;

}
/* Add a card effect for articles */
.card {
  background-color: white;
  padding: 20px;
  padding-right: 200px;
  padding-left: 200px;
  margin-top: 20px;
  margin-left: 0vw;
  width: 133%;
}

/* Clear floats after the columns */
.row::after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 3px;
  text-align: center;
  background: whitesmoke;
  margin-top: 3%;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}